body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
}

.container {
  padding: 0px 20px;
  margin: 0px auto;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.no-scroll {
  overflow: hidden;
}

.list {
  list-style: none;
}

.link-accent {
  /* Transition */
  transition-property: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-accent:hover, .link-accent:focus {
  color: #bbf330;
}

.input {
  display: block;
  padding: 12px;
  min-width: 279px;
  width: 100%;
  height: 42px;
  background: #ffffff;
  border: 1px solid #ffe550;
  border-radius: 30px;
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}

.button {
  display: inline-block;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--green {
  padding: 6px 18px;
  background-color: #bbf330;
}
.button--green:hover, .button--green:focus {
  background-color: #b5ff00;
}
.button--white {
  padding: 10px 22px;
  background-color: #ffffff;
  border: 2px solid #7eb101;
}
.button--white:hover, .button--white:focus {
  border: 2px solid #597d00;
}
.button--big {
  padding: 11px 22px;
  background-color: #bbf330;
}
.button--big:hover, .button--big:focus {
  background-color: #b5ff00;
}
.button--white-big {
  display: block;
  margin: 20px 0 0 auto;
  padding: 11px 22px;
  border: 1px solid #7eb101;
  background-color: #ffffff;
}
.button--white-big:hover, .button--white-big:focus {
  background-color: #ffe550;
}
.button--green-big {
  display: block;
  padding: 11px 22px;
  background-color: #bbf330;
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
}

.section-customers {
  padding: 60px 0 68px;
  background: url("../images/customers/mobile/customers_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .section-customers {
    padding-bottom: 120px;
    background: url("../images/customers/tablet/tablet-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
}
@media screen and (min-width: 1280px) {
  .section-customers {
    padding: 100px 0 200px;
    background: url("../images/customers/desktop/desktop-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
}

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
  }
}

.section-customers__text {
  margin-top: 53px;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .section-customers__text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.19;
  }
}

.cards-list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .cards-list {
    flex-direction: row;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .cards-list {
    gap: 139px;
  }
}

.cards-list_item {
  position: relative;
  padding: 52px 8px 8px;
  min-height: 225px;
  background-color: #FFFFFF;
  border-radius: 0 25px 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 1280px) {
  .cards-list_item {
    width: 501px;
  }
}

.cards-list__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.17;
  color: #2c2c2c;
}
@media screen and (min-width: 768px) {
  .cards-list__text {
    font-size: 18px;
    line-height: 1.18;
  }
}

.cards-list__thumb {
  margin-top: 40px;
  display: flex;
}

.cards-list__text-wrapper {
  margin-left: 16px;
  padding-right: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
  border-right: 1px solid #7eb101;
}

.cards-list__description {
  font-weight: 400;
}

.stars-list {
  display: flex;
  gap: 4px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.stars-list__icon {
  fill: #ffe550;
}

.section-subscribe {
  position: relative;
  padding: 60px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .section-subscribe {
    padding-bottom: 100px;
  }
}

.title-subscribe {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
}
@media screen and (min-width: 768px) {
  .title-subscribe {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
  }
}

.section-suscribe__text {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.14;
  color: #2c2c2c;
}
@media screen and (min-width: 768px) {
  .section-suscribe__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
}

.suscribe-form {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .suscribe-form {
    display: flex;
    margin-top: 24px;
  }
}

.subscribe-form__input {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .subscribe-form__input {
    max-width: 394px;
    margin-bottom: 0px;
    margin-right: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .subscribe-form__input {
    margin-right: 32px;
  }
}

.button--green-big {
  margin: 0 0 0 auto;
}
@media screen and (min-width: 768px) {
  .button--green-big {
    margin: 0;
  }
}

.section-subscribe__img-wrapper {
  width: 280px;
  height: 78px;
  position: absolute;
  top: -13%;
  left: 25%;
}
@media screen and (min-width: 768px) {
  .section-subscribe__img-wrapper {
    width: 281px;
    height: 136px;
    position: absolute;
    top: -26%;
    right: 3%;
  }
}
@media screen and (min-width: 1280px) {
  .section-subscribe__img-wrapper {
    width: 608px;
    height: 266px;
    display: block;
  }
}

.section-customers__img {
  object-fit: contain;
  width: 100%;
  height: auto;
  display: block;
}/*# sourceMappingURL=main.css.map */